<form method="post" action="{{ path('coach_delete', {'idCoach': coach.idCoach}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coach.idCoach) }}">
    <button class="btn">Delete</button>
</form>
